<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MashBall0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CCEC783C1E6E397900EA48DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCEC78561E6E397A00EA48DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCEC78611E6E397A00EA48DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
